body{
    background-image: url(pics/foodBack.jpg)
}

button{
    margin : 2px;
    font-family: 'Gaegu', cursive;
}

.card{
    margin-top: 15px;
}

.navbar-brand{
    font-family: 'Holtwood One SC', serif;
}
.card-body{
font-family: 'Gaegu', cursive;
}
.card-title{
    font-family: 'Oswald', sans-serif;
}
.container{
    background-color: rgba(35,35,35,.6)
}
img{
    margin: 2px
}

#add-gif{
    font-family: 'Holtwood One SC', serif;
}

/*
font-family: 'Gaegu', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Holtwood One SC', serif;